{% extends "base.html" %}

{% block content %}
{{ content }}
<br />
<br />

Menu:
<br />
<ul>
    <a href={% url 'table_mgmt:createMenu' %}>Aggiungi un menù</a>

    {% if menu.can_view %}
        {% for m in menu.data %}
            <li>{{ m.description }}</li>
        {% endfor %}
    {% endif %}
</ul>

Tables:
<br />
<ul>
    <a href={% url 'table_mgmt:addTable' %}>Aggiungi un tavolo</a>
    {% for table in tables %}
        <li>Table {{ table.number }}</li>
    {% endfor %}
</ul>

Plates:
<br />
<ul>
    <a href={% url 'table_mgmt:addPlate' %}>Aggiungi un piatto</a>

    {% if plates.can_view %}
        {% for plate in plates.data %}
            <li>'{{ plate.name }}' availability: {{ plate.days|join:", " }}</li>
        {% endfor %}
    {% endif %}
</ul>

Order:
<ul>
    {% if orders.can_view %}
        {% for order in orders.data %}
            <li>{{ order.code }}, {{ order.table }} date: {{ order.date }}</li>
        {% endfor %}
    {% endif %}
</ul>
{% endblock %}