{% extends "base.html" %}

{% block content %}
{{ content }}
<br />
<br />

Menu:
<br />
<ul>
    {% if menu.can_add %}
    <a href={% url 'table_mgmt:createMenu' %}>Aggiungi un menù</a>

    {% endif %}
{% if menu.can_view %}
        {% for m in menu.data %}
            <li>{{ m.description }}</li>
        {% endfor %}
    {% endif %}
</ul>



Tables:
<br />
<ul>
    {% if tables.can_add %}
    <a href={% url 'table_mgmt:addTable' %}>Aggiungi un tavolo</a>
    {% endif %}

    {% if tables.can_view %}
        {% for table in tables.data %}
    <li><a href={% url 'table_mgmt:createOrder' table=table.number %} title="Click to create a new order for this table" >Table {{ table.number }}</a></li>
        {% endfor %}
    {% endif %}
</ul>

Plates:
<br />
<ul>
    {% if plates.can_add %}
    <a href={% url 'table_mgmt:addPlate' %}>Aggiungi un piatto</a>

    {% endif %}
    {% if plates.can_view %}
        {% for plate in plates.data %}
            <li>'{{ plate.name }}' availability: {{ plate.days|join:", " }}</li>
        {% endfor %}
    {% endif %}
</ul>



Your orders:
<ul>
    {% if orders.can_add %}
    <a href={% url 'table_mgmt:createOrder' %}>Crea un nuovo ordine</a>
    {% endif %}
    {% if orders.can_view %}
        {% for order in orders.data %}
    <li><a href={% url 'table_mgmt:updateOrder' order_id=order.id target_hash=order.password %} title="Click to modify the order">Order {{ order.id }} </a> for table {{ order.table }}, created on {{ order.date }}<br />
        <ul>
            {% for plate in order.plates.all %}
                <li>{{plate.name}}</li>
            {% endfor %}
        </ul>
    </li>
        {% endfor %}
    {% endif %}
</ul>

{% endblock %}


