<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><title>Restaurant</title>
<meta charset="UTF-8">
  {% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href={% static "frontend/restaurant3_template_files/w3.css" %}>
<link rel="stylesheet" href={% static "frontend/restaurant3_template_files/css.css" %}>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="https://kit.fontawesome.com/07debe80aa.js" crossorigin="anonymous"></script>
<style>
body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
.menu {display: none}
.bgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url({% static "frontend/restaurant3_template_files/restaurant_background.jpg" %});
  min-height: 90%;
}
</style>


<!-- MESSO QUI PER VELOCITA -->
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top w3-hide-small">
  <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
    <div class="w3-left w3-display-left">
      <a href="#" class="w3-bar-item w3-button w3-display-leftmiddle">HOME</a>
      <a href="#menu" class="w3-bar-item w3-button">MENU</a>
      <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
      <a href="#myMap" class="w3-bar-item w3-button">CONTACT</a>
      <a href={% url "portal_welcome" %} class="w3-bar-item w3-button">PORTAL</a>
    </div>

    {%if user.is_authenticated %}
      <div class="w3-bar-item w3-right w3-dropdown-hover" style="padding:0px; margin:0px;">
        <button class="w3-button" style="padding:0px;">
          <a href={% url "login" %} class="w3-bar-item w3-button w3-right">
          {%if user.is_authenticated %}
          {{user.get_username }}
          {% endif %}
          </a>
        </button>
          <div class="w3-dropdown-content w3-bar-block w3-border">
            <a href={% url "logout_view" %} class="w3-bar-item w3-button">LOGOUT</a>
          </div>
      </div>
    {% else %}
      <div class="w3-bar-item w3-right" style="cursor: default;">
            <form method="post" action="/login/">
              {% csrf_token %}
              Username: <input class="w3-margin-right" id="id_username" type="text" name="username" autofocus="" required="">
              Password: <input id="id_password" type="password" name="password" autofocus="" required="">
              <input type="hidden" name="next" value="/restaurant/" />
              <input type="submit" class="w3-button" value="login" />
            </form>
      </div>
      <div class="w3-bar-item w3-right" id="SignUpButton">
      </div>
    {%endif%}
  </div>
</div>
  
<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-padding">
    <span class="w3-tag w3-xlarge">Open from 10am to 12pm</span>
  </div>
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white w3-hide-small" style="font-size:100px">RESTAURANT</span>
    <span class="w3-text-white w3-hide-large w3-hide-medium" style="font-size:60px"><b>thin<br>CRUST PIZZA</b></span>
    <p><a href="#menu" class="w3-button w3-xxlarge w3-black">Let me see the menu</a></p>
  </div>
</header>

<!-- SignUp Container -->
<div id="SignUpModal">

</div>

<!-- Menu Container -->
<div class="w3-container w3-black w3-padding-64 w3-xxlarge" id="menu">
  <div class="w3-content">

    <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">THE MENU</h1>

    <div class="w3-container w3-row w3-center w3-border w3-border-dark-grey w3-light-grey">
      <div class="w3-left">
        <i class="far fa-check-circle"></i>
        Plate available
      </div>
      <div >
        <i class="fas fa-check-circle" style="color:green;"></i>
        Plate selected (ready to order)
      </div>
    </div>
    <div class="w3-row w3-center w3-border w3-border-dark-grey">
      <a href="javascript:void(0)" onclick="openMenu(event, 'Plates');" id="myLink">
        <div class="w3-col s4 tablink w3-padding-large w3-hover-red w3-red">Plates</div>
      </a>
      <a href="javascript:void(0)" onclick="openMenu(event, 'Pasta');">
        <div class="w3-col s4 tablink w3-padding-large w3-hover-red">Pasta</div>
      </a>
      <a href="javascript:void(0)" onclick="openMenu(event, 'Starter');">
        <div class="w3-col s4 tablink w3-padding-large w3-hover-red">Starter</div>
      </a>
    </div>

    <div id="Plates" class="w3-container menu w3-padding-32 w3-white" style="display: block;">
      <div id="orderCode">
        <!--  Here the input where put the OrderNumber -->
      </div>
      <div id="customPlates" style="display: none">
        <!--  Here the custom plates of the Restaurant App -->
      </div>
    </div>
  </div>
</div>

<!-- TABLES CONTAINER -->
<div class="w3-container w3-padding-64 w3-light-grey w3-xlarge" id="tables_container">
  <div class="w3-content">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:64px" id="reserve_table">RESERVE TABLE</h1>
    <div id="tables">
      <!-- Here the TABLES of the Restaurant APP -->
    </div>
  </div>
</div>

<!-- ORDERS CONTAINER -->
<div class="w3-container w3-padding-64 w3-black w3-xlarge" id="orders_container">
  <div class="w3-content">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">YOUR ORDERS!</h1>
        <div id="orders">
      <!-- Here the ORDERS of the Restaurant APP -->
    </div>
  </div>
</div>

<!-- About Container -->
<div class="w3-container w3-padding-64 w3-red w3-grayscale w3-xlarge" id="about">
  <div class="w3-content">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">About</h1>

    <p>This Restaurant APP has been created by Marco Cagrandi and Alessio Ruggi for the "Applicazioni Web e Mobile"
      course. It merges both server side technologies (Django) and frontend technologies such as React, JS, AJAX, React Native.</p>
    <p><strong>The Chef?</strong> Mr. Italiano himself<img src={% static "frontend/restaurant3_template_files/chef.jpg" %} style="width:150px" class="w3-circle w3-right" alt="Chef"></p>
    <p>We are proud of our interiors.</p>
    <img src={% static "frontend/restaurant3_template_files/onepage_restaurant.jpg" %} style="width:100%" class="w3-margin-top w3-margin-bottom" alt="Restaurant">
    <h1><b>Opening Hours</b></h1>
    
    <div class="w3-row">
      <div class="w3-col s6">
        <p>Mon &amp; Tue CLOSED</p>
        <p>Wednesday 10.00 - 24.00</p>
        <p>Thursday 10:00 - 24:00</p>
      </div>
      <div class="w3-col s6">
        <p>Friday 10:00 - 12:00</p>
        <p>Saturday 10:00 - 23:00</p>
        <p>Sunday Closed</p>
      </div>
    </div>
    
  </div>
</div>

<!-- Image of location/map -->
<img src={% static "frontend/restaurant3_template_files/map.jpg" %} class="w3-image w3-greyscale" style="width:100%;" id="myMap">

<!-- Contact -->
<div class="w3-container w3-padding-64 w3-blue-grey w3-grayscale-min w3-xlarge">
  <div class="w3-content">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">Contact</h1>
    <p>Find us at some address at some place or call us at 05050515-122330</p>
    <p><span class="w3-tag">FYI!</span> We offer full-service catering 
for any event, large or small. We understand your needs and we will 
cater the food to satisfy the biggerst criteria of them all, both look 
and taste.</p>
    <p class="w3-xxlarge"><strong>Reserve</strong> a table, ask for today's special or just send us a message:</p>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required="" name="Name"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="number" placeholder="How many people" required="" name="People"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="datetime-local" placeholder="Date and time" required="" name="date" value="2017-11-16T20:00"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message \ Special requirements" required="" name="Message"></p>
      <p><button class="w3-button w3-light-grey w3-block" type="submit">SEND MESSAGE</button></p>
    </form>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-48 w3-xxlarge">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

<script>
// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("menu");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
     tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-red";
}
document.getElementById("myLink").click();
</script>
<script src="{% static "frontend/main.js" %}"></script>

</body>

</html>
